[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)% D%Creset %C(bold white)%an%Creset: %s %Cgreen%cr%Creset' --abbrev-commit --all

[push]
	default = upstream
[rebase]
	autosquash = true
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[core]
	pager = less --quit-if-one-screen --no-init
# [core]
#     excludesfile = /home/bryan/dotfiles/.gitignore_global

# [includeIf "gitdir:~/personal/"]
#     path = "~/personal/.gitconfig_override"
